<tr>
  <td><%= link_to provider.name, provider %></td>
  <td><%= text_to_display(provider.nit) %></td>
  <td><%= text_to_display(provider.contact_name) %></td>
  <td><%= text_to_display(provider.phone) %></td>
  <td><%= text_to_display(provider.bank_name) %></td>
  <td><%= text_to_display(provider.account_number) %></td>
</tr>