<div id="<%= dom_id provider %>">
  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Nit:</strong>
    <%= provider.nit %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= provider.contact_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= provider.phone %>
  </p>

</div>
