<tr>
  <td><%= link_to provider.name, provider %></td>
  <td><%= provider.nit %></td>
  <td><%= provider.contact_name %></td>
  <td><%= provider.phone %></td>
  <td><%= provider.bank_name %></td>
  <td><%= provider.account_number %></td>
</tr>