<p style="color: green"><%= notice %></p>

<div id="providers" class="container">
  <h1><%= t('provider.name') %></h1>
  
  <table class="table">
    <thead>
      <%= render ('head_table') %>
    </thead>
    <tbody>
      <% @providers.each do |provider| %>
        <%= render provider %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @providers %>
  <%= link_to t('provider.new_provider'), new_provider_path, class:"btn btn-dark btn-sm" %>
</div>

