<div class="home">
  <div class="col-6 d-flex flex-column justify-content-center align-items-center">
    <h1><%= t('home.welcome') %></h1>
    <p><%= t('home.message') %></p>
  </div>
  <div class="col-6 justify-content-center align-items-center">
    <div class="form_login col-8">
      <h2><%= t('home.signup') %></h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        
          <div class="form-inputs mb-3">
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }%>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if
              @minimum_password_length), input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </div>
      
          <div class="form-actions d-grid gap-2">
            <%= f.button :submit, t('home.signup'), class:"btn btn-sm btn-dark" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</section>