<div id="banks" class="container">
  <h1><%= t('bank.name') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('bank.table.name') %></th>
        <th><%= t('bank.table.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @banks.each do |bank| %>
        <%= render bank %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @providers %>
  <%= link_to t('bank.new_bank'), new_bank_path, class:"btn btn-dark btn-sm" %>
</div>